{% extends 'base.html' %}
{% block content %}
<main>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="container-fluid px-4">
                <h1 class="mt-4">Lista Usuario</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        <a class="btn btn-primary col-2 btn-sm" href="{% url 'nuevo_usuario' %}">Agregar</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>fullname</th>
                                        <th>email</th>
                                        <th>password</th>
                                            
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for usuario in object_list %}
                                    <tr>
                                        <td>{{usuario.username}}</td>
                                        <td>{{usuario.fullname}}</td>
                                        <td>{{usuario.email}}</td>
                                        <td>{{usuario.password}}</td>
                                        
                                        <td>
                                            <a href="{% url 'usuario_actualizar' pk=usuario.pk %}" 
                                                class="btn btn-warning btn-sm">Editar</a>
                                            <a href="{% url 'usuario_eliminar' pk=usuario.pk %}" 
                                               class="btn btn-danger btn-sm">Eliminar</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</main>
{% endblock %}
