{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>

    <div class="row justify-content-center">
        <div class="col-md-15">
            <div class="container-fluid px-4">
                <h1 class="mt-4">Lista de Articulos</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        <a class="btn btn-primary col-2 btn-sm" href="{% url 'nuevo_articulos' %}"> Agregar  </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Descripcion</th>
                                        <th>Unidad de Medida</th>
                                        <th>Grupo ID</th>
                                        <th>Linea ID</th>
                                        <th>Sublinea ID</th>
                                        <th>Empresa ID</th>
                                        <th>Factor Compra</th>
                                        <th>Factor Reparto</th>
                                        <th>Marca ID</th>
                                        <th>Acciones</th>
                                      </tr>
                                </thead>
                                <tbody>
                                    {% for articulos in object_list %}
                                    <tr>
                                        
                                      <td>{{articulos.codigo_sku}}</td>
                                      <td>{{articulos.descripcion}}</td>
                                      <td>{{articulos.unidad_medida_id}}</td>
                                      <td>{{articulos.grupo_id}}</td>
                                      <td>{{articulos.linea_id}}</td>
                                      <td>{{articulos.sublinea_id}}</td>
                                      <td>{{articulos.empresa_Id}}</td>
                                      <td>{{articulos.factor_compra}}</td>
                                      <td>{{articulos.factor_reparto}}</td>
                                      <td>{{articulos.marca_id}}</td>
                                      <td>
                                        <a href="{% url 'articulos_actualizar' pk=articulos.pk %}" class="btn btn-warning btn-sm">Editar</a>
                                        <a href="{% url 'articulos_eliminar' pk=articulos.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                                      </td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>


        </div>
    </div>



   
</main>

{% endblock %}