{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="container-fluid px-4">
                <h1 class="mt-4">Lista de Unidades</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        <a class="btn btn-primary col-2 btn-sm" href="{% url 'nuevo_unidades_medida' %}"> Agregar </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>

                                    </tr>
                                </thead>
            
                                <tbody>
                                    {% for unidades_medida in object_list %}
                                    <tr>
            
                                        <td>{{ unidades_medida.unidad_nombre }}</td>
                                    
                                        <td>
                                            <a href="{% url 'unidades_medida_actualizar' pk=unidades_medida.pk %}"
                                                class="btn btn-warning btn-sm">Editar</a>
                                            <a href="{% url 'unidades_medida_eliminar' pk=unidades_medida.pk %}"
                                                class="btn btn-danger btn-sm">Eliminar</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            
                            </table> 
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    
</main>

{% endblock %}