{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>

    <div class="row justify-content-center">
        <div class="col-md-15">
            <div class="container-fluid px-4">
                <h1 class="mt-4">Lista de Sublineas de Articulos</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        <a class="btn btn-primary col-2 btn-sm" href="{% url 'nuevo_sublineasArticulos' %}"> Agregar  </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Codigo de Sublinea</th>
                                        <th>Descripcion</th>
                                        <th>Linea ID</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                      </tr>
                                </thead>
                                <tbody>
                                    {% for sublineas_articulos in object_list %}
                                    <tr>
                                        
                                      <td>{{sublineas_articulos.codigo_sublinea }}</td>
                                      <td>{{sublineas_articulos.sublinea_descripcion }}</td>
                                      <td>{{sublineas_articulos.linea_id}}</td>
                                      <td>{{sublineas_articulos.estado}}</td>
                                      <td>
                                        <a href="{% url 'sublineasArticulos_actualizar' pk=sublineas_articulos.pk %}" class="btn btn-warning btn-sm">Editar</a>
                                        <a href="{% url 'sublineasArticulos_eliminar' pk=sublineas_articulos.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                                      </td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>


        </div>
    </div>



   
</main>

{% endblock %}